<!-- 155 7/28 -->
<div class="page-header">
    <h1>User: <%= @user.name %></h1>
</div>

<p class="lead"></p>

<% if current_user %>
    <% if current_user != @user && !current_user.following?(@user) %>
        <%= link_to "Follow", follow_user_path(@user),
            method: :post, class: "btn btn-default" %>
    <% end %>
<% end %>

<h2>Posts</h2>
<!-- <%= link_to "Home", root_path, class: "btn btn-default" %> MOVED TO application.html.erb -->
<%= render @posts %>
